@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: 'Poppins', sans-serif;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fade {
    animation: fade 0.2s ease-out;
}

@layer base {
    body {
        @apply bg-white dark:bg-gray-900 text-gray-800 dark:text-white
    }
}

@layer components {
    .card {
        @apply bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700
    }
}

@theme {
    --color-background: #ffffff;
    --color-foreground: #111111;
}

.dark {
    --color-background: #111111;
    --color-foreground: #ffffff;
}